<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
</head>
<header>
    <div class="contenedorHeader">

            <div class="contenedorLogo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
            </div>
            
            <div class="contenedorBusqueda">
                <input type="text" class="busqueda" placeholder="Buscar productos, marcas" >
                <button> 
                <i class="fa-solid fa-magnifying-glass" class="lupa"></i>
                </button>
            </div>

            <div class="contenedorFrase">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito </p>
            </div>

    </div>

<div class="listados">
    <ul class="listado1">
        <a class="listadoItem" href=""><li>Ofertas</li></a>
        <a class="listadoItem" href=""><li>Tiendas Oficiales</li></a>
        <a class="listadoItem" href=""><li>Vender</li></a>
        <a class="listadoItem" href=""><li>Ayuda</li></a>
    </ul>

    <ul class="listado2">
        <a class="listadoItem" href="register"><li>Creá tu cuenta <i class="fa-regular fa-address-card"></i></li></a>
        <a class="listadoItem" href="login"><li>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li></a>
        <a class="listadoItem" href=""><li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li></a>
    </ul>
</div>
    <div class="burger-menu">
    <i class="fas fa-bars"></i>
    </div>

</header>
<body>
    <Section class="main">  
    <div class="contenedorBanner">
        <img src="/images/img-home-banner.jpg" alt="">
    </div>

        <h2>Basado en tu última visita</h2>

    <div class="granContenedor">
        <div class="contenedorProducto">
                <img class="imagenProducto" src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
            <div class="caracteristicas"> 
                <p class="precio"> $6.770</p>
                <p class="descuento">40% OFF</p>
                <i class="fa-solid fa-truck"></i>
            </div>
                <P class="descripcion">Cafetera Moulinex</P>
        </div>
        

        <div class="contenedorProducto">
                <img class="imagenProducto" src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
            <div class="caracteristicas">
                <p class="precio"> $230.000</p>
                <p class="descuento"> 20% OFF</p>
                <i class="fa-solid fa-truck"></i>
            </div>
                <P class="descripcion"> MacBook Pro 2019</P>
        </div>
        
        <div class="contenedorProducto">
                <img class="imagenProducto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung-galaxy-s10">
            <div class="caracteristicas">
                <p class="precio"> $70.500</p>
                <p class="descuento"> 10% OFF</p>
                <i class="fa-solid fa-truck"></i>
            </div>
                <P class="descripcion"> Samsung Galaxy S10</P>
        </div>

        <div class="contenedorProducto">
                <img class="imagenProducto" src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
            <div class="caracteristicas">
                <p class="precio"> $23.200</p>
                <p class="descuento"> 5% OFF</p>
                <i class="fa-solid fa-truck"></i>
            </div>
                <P class="descripcion"> SmartTv Samsung 43"</P>
        </div>
    </div>

    </Section>
    <section class="main">
        
        <h2>Ofertas</h2>

    <div class="granContenedor">
        <div class="contenedorProducto">
                <img class="imagenProducto" src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
            <div class="caracteristicas">
                <p class="precio"> $6.770</p>
                <p class="descuento"> 40% OFF</p>
                <i class="fa-solid fa-truck"></i>
            </div>
                <P class="descripcion"> Cafetera Moulinex</P>
        </div>


        <div class="contenedorProducto"> 
                <img class="imagenProducto" src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
            <div class="caracteristicas">
                <p class="precio"> $230.000</p>
                <p class="descuento"> 20% OFF</p>
                <i class="fa-solid fa-truck"></i>
            </div>
                <P class="descripcion"> MacBook Pro 2019</P>
        </div>

        <div class="contenedorProducto">
                <img class="imagenProducto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung-galaxy-s10">
            <div class="caracteristicas">
                <p class="precio"> $70.500</p>
                <p class="descuento"> 10% OFF</p>
                <i class="fa-solid fa-truck"></i>
            </div>
                <P class="descripcion"> Samsung Galaxy S10</P>
        </div>

       <div class="contenedorProducto">
                <img class="imagenProducto" src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
            <div class="caracteristicas">
                <p class="precio"> $23.200</p>
                <p class="descuento"> 5% OFF</p>
                <i class="fa-solid fa-truck"></i>
            </div>
                <P class="descripcion"> SmartTv Samsung 43"</P>
        </div>
    </div>
    </Section>
</body>
<footer>
    <div class="contenedorFooter">
        <div class="subContenedorFooter">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
        </div> 
        <div class="subContenedorFooter">
            <i class="fa-solid fa-gift"></i>      
            <h3>Envío gratis desde los $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
        </div>         
        <div class="subContenedorFooter">
            <i class="fa-solid fa-user-shield"></i>  
            <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>      
        </div>          
    </div>
    <p class="patente">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</html>